*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "poppins";
	caret-color: transparent;
}
body{
	color: #fff;
	height: 100vh;
	background:linear-gradient(135deg,#4203a9,#90bafc);
	background-repeat: no-repeat;
}
section{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding-left: 100px;
}
.container{
	width: 380px;
	word-break: break-word;
	padding: 10px 15px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
	border-radius: 13px;
	background-size: cover;
	background-position: center;
}
#J-head,
#age{
	word-break: break-word;
	line-height: 50px;
	font-size: 2.5rem;
	font-weight: 600;
}
#age{
	color: #ffff76;
}
.inputs{
	justify-content: space-between;
	padding: 10px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.3);
	width:80%;
	margin: 10px 0px;
}
input[type="date"]{
	padding: 5px 10px; 
	border-radius: 6px;
	outline: none;
	border: none;
	width: 64%;
}
input[type="date"]::-webkit-calendar-picker-indicator{
	height: 20px;
	width: 20px;	
	cursor: pointer;
	margin-left: 20px;
}
#calcBtn{
	padding: 6px 8px;
	background-color: #ffff76;
	letter-spacing: 1px;
	border-radius: 4px;
	cursor:pointer;
	font-weight: 700;
	outline: none;
	border: none;
	transition: all 0.3s;
}
#calcBtn:hover{
	color: #ffff76;
	background-color: rgba(0, 0, 0, 0.9);
}
#ageHere{
    overflow: hidden;
    max-width: 100%;
    word-break: break-word;
    white-space: normal;
}