*{
	padding: 0;
	margin: 0;
	caret-color: transparent;
	box-sizing: border-box;
}
body{
	height: 300vh;
	background-color: #000;
	color: white;
	font-family: "Ubuntu";
}
.container{
	margin: 0px auto;
	width: 30vw;
	padding:40px 20px 10px 20px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
.text{
	line-height: 25px;
	text-align: center;
}
.arrow{
	position: relative;
	padding: 20px;
	cursor: pointer;
	border: 1px solid white;
	border-radius: 200px;
	transition: ease-in;
	animation: bounce 0.5s ease-in-out infinite alternate;
}
.arrow::before{
	content:"";
	position: absolute;
	top: 10px;
    left: 13px;
	height: 12px;
	width: 12px;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	transform: rotate(-45deg);
}
@keyframes bounce{
	0%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(10px);
	}
}
.fade-in{
	opacity: 1;
	transition: all 1s ease-in ;
}
.fade-out{
	opacity: 0;
	transition: all 1s ease-out ;
}