*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #121212;
}
.container{
	display: flex;
	gap: 10px;
}
.ball{
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 30px;
	width: 30px;
	background-color: #fff;
	border-radius: 100%;
	caret-color: transparent;
	animation: bounce 1s ease-out infinite;
	animation-delay: 0.1s;
}
.shadow{
	caret-color: transparent;
	height: 5px;
	width: 30px;
	background-color: #706f6f;
	border-radius: 50%;
	animation:shadowStretch 1s ease-out infinite ;
	animation-delay: 0.1s;
}
.ball2,.shadow2{
	animation-delay: 0.3s;
}
.ball3,.shadow3{
	animation-delay: 0.5s;
}
.ball4,.shadow4{
	animation-delay: 0.7s;
}
@keyframes bounce{
    50% {
        transform: translateY(-55px);
        animation-timing-function: ease-in;
    }
    97% {
      transform: scaleX(1);
    }
    0%,
    100% {
      transform: scaleX(1.2) scaleY(0.7);
    }
}
@keyframes shadowStretch{
	50%{
		background-color: #000;
		transform: scaleX(1.0) scaleY(1.0);
	}
	0%,
	97%{
		transform: scaleX(0.8) scaleY(1.0);
	}
}