.flex{
	display: flex;
}
.alighnCenter{
	display: flex;
	align-items: center;
}
.justifyCenter{
	display: flex;
	justify-content: center;
}
.directionColumn{
	display: flex;
	flex-direction: column;
}
.completeCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}