*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	caret-color: transparent;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150vh;
	font-family: "Ubuntu";
}
#Accordion{
	margin: 300px auto;
	width: 600px;
}
#Accordion li{
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
	padding: 10px;
	list-style: none;
	margin-bottom: 10px;
	background-color: black;
	border-radius: 9px;
}
#Accordion label{
	color: #fff;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}
#Accordion label span{
	transform: rotate(90deg);
}
#Accordion input[type='radio']{
	display: none;
}
.information{
	color:white;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.8s,margin 0.8s;
}
input[type='radio']:checked + .information{
	max-height: 300px;
	margin: 10px 0px;
}