*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Ubuntu";
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: slategray;
}
a>p{
	font-weight: bolder;
}
a{
	border-radius: 9px;
	color: black;
	font-size: 1.3rem;
	background: transparent;
	text-decoration: none;
	padding: 30px 150px;
	letter-spacing: 3px;
	position: relative;
	transition: all 0.5s;
}
a:before, a:after{
	border-radius: 9px;
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	z-index: -1;
}
a:before{
	top: 0px;
	left: 0px;
	background: cyan;
	transform-origin: top;
}
a:after{
	top: 0px;
	left: 0px;
	background-color: #ffff00a6;
	transform-origin: bottom;
}
a:hover{
	color: white;
}
a:hover:before{
	transform:perspective(500px) rotateX(75deg);
}
a:hover:after{
	transform:perspective(500px) rotateX(-75deg);
}