*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	padding: 20px 25px;
	background-color: hotpink;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
::-webkit-scrollbar{
	width: 10px;
	border-radius: 20px;
	background: linear-gradient(to bottom, cyan, purple);
}
::-webkit-scrollbar-track{} /*to target track of scrollbar*/
::-webkit-scrollbar-thumb{
	background-color: yellow;
	border-radius: 20px;

} /*to target scrolling target*/
.content{
	margin-bottom: 20px;
	background-color: white;
	width: 450px;
	height: 120px;
	overflow: auto;
	padding: 20px;
}
.content::-webkit-scrollbar{ /*use double colon to target scroll selector*/
	background: #252629;
	border-radius: 23px;
	width: 10px;
	padding: 0px 3px;
} /*to edit the track and body of the scrollbarr*/ 

.content::-webkit-scrollbar-thumb{
	background-color: #7f818a;
	border-radius: 40px;
}