*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	caret-color: transparent;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #e3f9ff;
}
/*utilities*/
.shadow{

}
.blueText{

}
/*utilities*/

.container{
	background-color: #3a4452;
}
.buttons{
	display: flex;
	flex-wrap: wrap;
}
#calcDisplay{
	background-color: transparent;
	outline: none;
	border: none;
	pointer-events: none;
}