*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "poppins";
}
body{
	background: linear-gradient(135deg,#153677,#4e085f);
	height: 100vh;
}
.container{
	gap: 10px;
	width: 370px;
	padding: 30px 20px;
	border-radius: 12px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
	background-color: #fff;
}
.head{
	gap: 5px;
}
.head>p{
	text-align: left;
	font-weight: 800;
	font-size: 1.8rem;
}
.head>img{
	object-fit: contain;
	height: 25px;
}
header{
	position: relative;
	width: 100%;
}
header>input{
	font-family: "poppins";
	border-radius: 900px;
	outline: none;
	border: none;
	color: #000;
	font-weight: 500;
	font-size: 1.1rem;
	width: 100%;
	padding: 10px 95px 10px 20px;
	background-color: rgba(160, 160, 160, 0.6);
}
header>input:placeholder{
	color: #000;
}
header>button{
	position: absolute;
	right: 0;
	height: 100%;
	width: 90px;
	outline: none;
	cursor: pointer;
	border-radius: 30px;
	border: none;
	color: whitesmoke;
	font-weight: 600;
	background-color: #e2710d;
}
.taskContainer{
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
	gap: 10px;
	padding: 5px;
	margin-top: 10px;
}
/*.taskContainer>li:first-child{
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}
.taskContainer>li:last-child{
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
}*/
.taskContainer::-webkit-scrollbar{
	width: 5px;
	background-color:#e2710d ;
	border-radius: 10px;
}
input[type="checkbox"]{
	accent-color: purple;
	cursor: pointer;
}
.task{
	gap: 10px;
}
.task>p{
	caret-color: transparent;
	word-break:break-word;
	white-space: normal;
    min-width: 250px;
    overflow: hidden;
    border-radius: 12px;
    background-color: #e2710d;
    color: #fff;
    padding: 10px 4px 10px 10px;
}
.bx-x{
	caret-color: transparent;
	font-size: 1.4rem;
	cursor: pointer;
	border-radius: 900px;
	padding: 5px;
	transition: all 0.3s;
}
.bx-x:hover{
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}