.searchBtn{
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    padding: 8px;
    font-size: 1.5rem;
    border-radius: 100px;
    transition: background-color 0.3s;
    caret-color: transparent;
}
.searchBtn:hover{
	background-color: rgba(0, 0, 0, 0.6);
}

.l-d-left img{
    object-fit: contain;
    height: 20px;
}

/*weather condition icon styles*/
#weatherConditionIcon{
    object-fit: contain;
    height: 8.5rem;
}

/*humidity and windspeed icon styles*/
.H-info>img,
.W-info>img{
    object-fit: contain;
    height: 2.5rem;
}

/*forecast weather scroll div styles*/

.forecast-container>img{
    object-fit: contain;
    height: 3.0rem;
}