*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	caret-color: transparent;
	user-select: none;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #000;
}
.wrapper{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.outer-loader,
.inner-loader{

}
.outer-loader{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 3px solid crimson;
	-webkit-mask-image: radial-gradient(circle at top left, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 70%); /*for blurry effect at the borders of circle*/
	animation: clockwise 1s ease infinite;
}
.inner-loader{
	position: absolute;
	right: 10%;
	top: 10%;
	height: 80px;
	width: 80px;
	border-radius: 100%;
	border: 3px solid #0796b3;
	-webkit-mask-image: radial-gradient(circle at top left, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 70%); /*for blurry effect at the borders of circle*/
	animation: anticlockwise 1s ease infinite;
}
@keyframes clockwise{
	100%{
		transform: rotate(360deg);
	}
}
@keyframes anticlockwise{
	100%{
		transform: rotate(-360deg);
	}
}