.flex{
	display: flex;
}
.alignC{
	display: flex;
	align-items: center;
}
.justifyC{
	display: flex;
	justify-content: center;
}
.directionColumn{
	display: flex;
	flex-direction: column;
}
.center{
	display: flex;
	align-items: center;
	justify-content: center;
}