*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Ubuntu";
}
.displayFlex{
	display: flex;
	justify-content: center;
	align-items: center;
}
body{
	background-color: black;
	height: 100vh;
}
a{
	background-color: whitesmoke;
	position: absolute;
	color: black;
	padding:1rem 4rem;
	font-weight: bolder;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 1.2rem;
	border-radius: 300px;
}
a:before{
	z-index: -1;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 100px;
	transition: all 1s;
}
a:hover:before{
	transform: scale(1.4,1.6);
	opacity: 0;
}
a:before:hover{
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}