*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "poppins";
	transition: color 0.3s;
}
/*icon style*/
.png{
	position: absolute;
	top: -30px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 60px;
	background-color: #fff;
	border-radius: 900px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 1.0);
}
.png>img{
	height: 40px;
	object-fit: contain;
}
/*icon style*/
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #0a2552;
}
form{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 400px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);
	padding: 50px 20px 15px 20px;
}
form>div{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
form>div>p,
.nameTitleText>p,
.phoneTitleText>p,
.emailTitleText>p,
.messageTitleText>p{
	font-weight: 600;
	font-size: 0.89rem;
	min-width: 80px;
	overflow: hidden;
	word-break: break-word;
	white-space: normal;
	text-align: left;
}
#wSurname{
	font-size: 0.7rem;
}
#wPhone{
	font-size: 0.64rem;
}
#wEmail{
	font-size: 0.69rem;
}
#wMessage{
	font-size: 0.7rem;
}
#wSurname,
#wPhone,
#wEmail,
#wMessage{
	color: rgba(0, 0, 0, 0.7);
	font-weight: 800;
	overflow: hidden;
	word-break: break-word;
	white-space: normal;
	text-align: left;
}
form>div>input{
	margin-left: 30px;
	font-size:0.9rem;
	font-weight: 600;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	padding: 10px 30px 5px 0px;
	outline: none;
}
/*defining margins to align properly*/
#messageInput{
	margin-left: 10px;
}
/*defining margins to align properly*/

.messageField{
	height: 100px;
}
.messageField>input{
	height: 100%;
}
input[type="submit"]{
	padding: 9px 25px;
	border: none;
	outline: none;
	background-color: #000;
	color:white;
	font-weight: 600;
	cursor: pointer;
	letter-spacing: 1px;
	border-radius: 4px;
	margin-top: 20px;
}
.mainWarning{
	display: none;
	position: absolute;
	left: 20px;
	bottom: 10px;
	color: red;
	font-weight: 700;
	font-size: 0.8rem;
}
/*classes to added by javascript*/
.warning{
	position: absolute;
	right: 0;
	top: -10px;
}
.warningText{
	font-weight: 700;
	font-size: 0.7rem;
}
.warningText>img{
	object-fit: contain;
	height: 15px;
}